.iphone-14-pro{
    background-color: black;
}
.iphene14{
    color: white;
}
.pro{
    color: white;
}
.iphone14{
    background-color: #fafafa;
}
.watch{
    background-color: black;
}
.soat{
    color: white;
}
.A{
    color: white
}
.series{
    color: red;
}